<h1></h1>
<h1>Welcome to Your Applicants List</h1>
<ol>
  <% Array(@applicants).each do |applicant|%>
    <li>
      <a href="/applicants/<%= applicant.id%>">
        <%=applicant.position%>
      </a>
    </li>
  <%end%>
</ol>
<br />