<h1>Create a new Applicant</h1>

<form action="/applicants" method="POST">
  <p>New Applicant: <textarea type="text" name="position" placeholder="New Applicant"></textarea></p>
  <input type="submit" value="save" />
</form>