<h1>Edit your Companies information</h1>
<h3>Name: <%= current_company.name %></h3>
<h3>Email: <%= current_company.email %></h3>

<form action="/companies/<%= @company.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="email" placeholder="Email"/>

  <input type="submit" value="update">
</form>
