<h1>Login to Applicant Tester app</h1>
<h1></h1>
<br />
<form action="/login" method="POST">
  <p>
    <label for="name">Username: </label>
    <input type="text" name="name" placeholder="Name:">
  </p>
</form>