<h1>Login to Applicant Tester app</h1>
<h1></h1>

<br />
<form action="/login" method="POST">
  <p>
    <label for="company_name">Username: </label>
    <input type="text" name="company_name" placeholder="Company Name:">
  </p>
  <br />
  <p>
    <label for="password">Password:  </label>
    <input type="text" name="password" placeholder="Password:">
  </p>
  <br />
  <input type="submit" value="Login">

</form>