<h1>Create your Company profile here</h1>
<form action="/companies/new" method="POST">

  <label for="name">Name:</label>
  <input type="text" id="name" name="company[name]">
  <br>

  <label for="name">Email:</label>
  <input type="text" id="email" name="company[email]">
  <br>

  <label for="password">Password:</label>
  <input type="text" id="password" name="company[password]">

  <br>
  <input type="submit">

</form>
